@import url('https://fonts.googleapis.com/css2?family=Arsenal:ital@1&family=Bebas+Neue&family=Crimson+Text&family=Julius+Sans+One&family=Syncopate:wght@700&display=swap');
// TYPOGRAPHY 
$Bebas: "Bebas Neue";
$Juli: "Julius Sans One";
$Arsenal: 'Arsenal';
$Crimson:"Crimson Text";

// HEX COLOR 
$blue: #61B7E8;
$dark: #4C5B61;
$lav: #E3D3E4;
$red: #E3170A;
$orange: #FD5200;
$laural: #ADB993;
$gray: rgb(235, 233, 233);

//  ============================================ HERO IMAGE WITH OVERLAY
.heroOverlay{
  grid-area: 1 / 1;
  position: relative;
  place-items: center;
  display: flex;
  flex-flow: column nowrap;
  align-content: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.2);
  max-width: 100%;

  .titleWrapper{
    background-color: rgba(0, 0, 0, 0.4);
    width: 80%;
    padding: 2rem;
    
    h2, h3{
      margin: 0;
    }
    h3{
      text-align: center;
      color: white;
      font-family: "Open Sans";
      font-style: italic;
      font-size: 1.75vw;
      margin-bottom: 2rem;
    }
  }

  .overlayTitle{
    text-align: center;
    font-family: $Juli;
    font-size: 5vw;
    color: white;
    text-shadow: 3px 3px 4px $dark;
  }

  .ctaButtons{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    
    button {
      background: $blue;
      background-image: -webkit-linear-gradient(top, $blue, #1E62D0);
      background-image: -moz-linear-gradient(top, $blue, #1E62D0);
      background-image: -ms-linear-gradient(top, $blue, #1E62D0);
      background-image: -o-linear-gradient(top, $blue, #1E62D0);
      background-image: -webkit-gradient(to bottom, $blue, #1E62D0);
      -webkit-border-radius: 5rem;
      -moz-border-radius: 5rem;
      border-radius: 5rem;
      color: #FFFFFF;
      font-family: $Bebas;
      font-size: 3vw;
      font-weight: 100;
      padding: 3vw;
      -webkit-box-shadow: 7px 1px 25px 6px #000000;
      -moz-box-shadow: 7px 1px 25px 6px #000000;
      box-shadow: 7px 1px 25px 6px #000000;
      text-shadow: -4px -2px 13px #000000;
      border: solid #FFFFFF 3px;
      text-decoration: none;
      display: inline-block;
      cursor: pointer;
      text-align: center;
      transition: 0.8s;
   }
   
   button:hover {
      background: $orange;
      border: double #FFAE00 1px;
      text-decoration: none;
   }
  }
}
// ================================ END HERO 





//  ======================================================== CONTENT OF LANDING PAGE

// ======================================== CONTENT GENERAL 
a{
  text-decoration: none;
}

.contentTxt{
  text-align: center;
  margin: 7rem 0 7rem 0;

  p{
    font: 1.25em $Crimson;
    
    width: 80%;
    margin: 0 auto;
  }

  button{
    font-family:$Bebas;
    font-size: 1.5em;
    width: 50%;
    margin: 2rem auto;
    padding: 0.75em;
    display: block;
    border: none;
  } 

  .btn-one {
    transition: all 0.3s;
    position: relative;
  }
  .btn-one span {
    transition: all 0.3s;
    z-index: 4
  }
  .btn-one::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    transition: all 2s;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-top-style: solid;
    border-bottom-style: solid;
    border-top-color: $red;
    border-bottom-color: $red;
    transform: scale(0.1, 1);
  }
  .btn-one:hover span {
    letter-spacing: 2px;
  }
  .btn-one:hover::before {
    opacity: 1;	
    transform: scale(1, 1);	
  }
  .btn-one::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: all 1s;
    background-color: rgba(253, 82, 0, 0.09);
  }
  .btn-one:hover::after {
    opacity: 0;	
    transform: scale(0.1, 1);
  }
}

.contentTitle{
  font: 4.5vw $Arsenal;
  margin: 0 1rem;
}

@media screen and (max-width: 768px){
  .contentTitle{
    font-size: 3em;
  }
}

@media screen and (max-width: 585px){
  .contentTxt{
    button{
      width: 90%;
    }
  }
  .contentTitle{
    font-size: 2em;
  }
  
}

// ==================================================== SOME SERVICES 
.cardContainer{
  display: flex;
  // flex: 0 0 33.333%;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-content: center;
  margin-top: 2rem;
}

.card {
    width: 20rem;
    height: 20rem;
    margin: 2rem 10px;
    overflow: hidden;
    position: relative;
    font: 4rem $Bebas;
    // padding-top: 5px;
    letter-spacing: 2px;
    border: 5px solid $lav;
    box-shadow: 3px 3px 5px $laural;
}
.cardDeatails {
    position: absolute;
    bottom: -400px;
    left: 0;
    width: 100%;
    padding-bottom: 2.5rem;
    background-color: $lav;
    transition: 0.3s ease-in-out;
    font-size: 15px;
    color: #888;
}

.cardTilte {
    position: absolute;
    left: 0;
    text-align: center;
    bottom: 0;
    width: 100%;
    transition: 0.3s ease-in-out
}

.cardTilte h3 {
    font-size: 2rem;
    color: #373737;
    text-shadow: 1px 1px 3px $laural;
}

.card:hover .cardTilte {
    bottom: 100;
}

.cardDeatails i {
    font-size: 35px;
    color: #1d365c;
}

.cardDeatails h4 {
    font-size: 2rem;
    color: #1d365c;
    margin: 15px 0;
}

.cardDeatails a {
    display: inline-block;
    margin-top: 10px;
    color: #1d365c;
    text-decoration: none;
    font-size: 1.5rem;
}

.card:hover .cardDeatails {
    bottom: 0;
}

// ============================================> REVIEWS CAROUSEL 
 
.slides {
  width:80%;
  margin: 0 auto;
  font-family:$Crimson;
  background-color: $gray;
  border-radius: 25%;
  box-shadow: 0 0 25px $lav;
  
  p{
    margin-top: 4rem;
    font-size: 2em;
  }
  h4{
    font-size: 2rem;
  }
}

.dots{
    margin-top:1rem !important;

    button:before{    
      margin: 2rem auto!important;
      color: $blue !important;
      opacity: 1 !important;
      font-size: 1.5rem !important;
      line-height: 1rem !important;
    }
}

@media screen and(max-width: 768px){
  .slides{
    p{
      font-size: 3.75vw;
    }
    h4{
      font-size: 3.75vw;
    }
  }
}
//  =========================================== WHY CHOOSE US? 
 .chooseContainer{
  display: flex;
  flex-flow: row wrap-reverse;
  justify-content: center;
  margin: 0;
  padding: 0;
  font-size: 1.25em;
}

.chooseContainerX{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 0;
  padding: 0;
  font-size: 1.25em;
}

.chooseTxt{
  width: 640px;
  height: 360px;
  background-color: $gray;

  h2{
    font-family: $Juli;
  }

  ul{
    font-family: $Crimson;
    list-style-type:circle;
    text-align: left;
    width: 80%;
  }
}

@media screen and(max-width: 425px){
  .chooseTxt{
   height: 500px;
  }
}

//  ======================================= END OF LANDING PAGE CONTENT 

