@import url('https://fonts.googleapis.com/css2?family=Squada+One&display=swap');
$SquadaOne: 'Squada One';

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
$Bebas: "Bebas Neue";

@import url('https://fonts.googleapis.com/css2?family=Syncopate:wght@400;700&display=swap');
$Syncopate: "Syncopate";

@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap');
$Juli: "Julius Sans One";

@import url('https://fonts.googleapis.com/css2?family=Orelega+One&display=swap');
$Orelega: "Orelega One";

@import url('https://fonts.googleapis.com/css2?family=Arsenal:ital@0;1&display=swap');
$Arsenal: 'Arsenal';

@import url('https://fonts.googleapis.com/css2?family=Cutive&display=swap');
$Cutive: 'Cutive'; // @root

@import url('https://fonts.googleapis.com/css2?family=Bentham&display=swap');
$Bentham: 'Bentham';

@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap');
$Crimson:"Crimson Text";

// HEX COLOR 
$blue: #61B7E8;
$dark: #4C5B61;
$lav: #E3D3E4;
$red: #E3170A;
$orange: #FD5200;
$laural: #ADB993;
$green: #949D6A;
$light: #E4E6C3;
$gray: rgb(235, 233, 233);
$pink: #D36582;

.careerTop{


  h1{
    text-align: center;
    font-family: $Juli;
    font-size: 5.3vw;
  }

  .subText{
    font: 2.5vw $Arsenal;
    width: 80%;
    margin: 0 auto;
  }

  h2{
    margin-left:4rem;
    margin-bottom: 0;
    font: 5vw $Crimson;
  }

  .mission{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;


    p{
      min-width: calc(60% - 2rem);
      padding:1rem;
      font: 2vw $Crimson;
    }

    
  }
 
  
}

.bannerList{
 display: flex;
 flex-flow: row wrap;
 justify-content: space-around;
 margin-top: 2rem;

 .bannerItem{
  width: 300px;
  text-align: center;
  font-family: $Crimson;
  font-size: 2rem;
  }

  .bannerImg{
    border: none;
    // border-radius: 50%;
    box-shadow: 1px 1px 7px 2px $dark;
  }
}

// ============================================> APPLICATION FORM 

.formContainer{

  margin-bottom:10rem;

  h2{
    font: 3rem $Arsenal;
    text-align: center;
  }

  button{
    height: 125px;
    font: 3rem $Bebas;
    margin: 2rem auto;
    padding: 0 2rem;
    text-align: center ;
    background-color: $light;
    box-shadow: 2px 2px 2px 2px $dark;
  }
}

.formGroup{
  display: grid;
  place-content: center;
  grid-gap: 0.5rem;
  padding: 1rem;

  span{
    color: $orange;
  }

  input{
    display: inline-block;
    font-size: 16px;
    font-size: Max(16px, 1em);
    font-family: inherit;
    padding: 0.25em 0.5em;
    // background-color: #fff;
    border: 2px solid $pink;
    border-radius: 4px;
    transition: 180ms box-shadow ease-in-out;
  }

  input:focus{
    border-color: $blue;
    box-shadow: 1px 1px 3px 1px $blue;
    outline: 2px solid transparent;
  }

  input:not(textarea) {
    line-height: 1;
    height: 2.25rem;
  }

  input[type="checkbox"]{
    width: 50%;
  }

  input[type="radio"]{
    width: 100%;
  }

  input[type="file"]{
    width: 100%;
  }
  
  label{
    font-family: $Bentham;
    font-size: 1.5rem;
    line-height: 1.6;
  }

  textarea{
    border: 2px solid $pink;
    width: 100%;
    border-radius: 4px;
    transition: 180ms box-shadow ease-in-out;
  }
  
  textarea:focus{
    border-color: $blue;
    box-shadow: 1px 1px 3px 1px $blue;
    outline: 2px solid transparent;
  }

}

.typeBoxTitle{
    font-family: $Bentham;
    font-size: 1.5rem;
    line-height: 1.6;
}

.typeBox{
  font-family: $Bentham;
  text-align: center;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  margin-bottom: 3rem;
}
